.dashBoard{
  display: flex;
}
.sidebar{
  padding: 1vw;
  width: 20%;
  position: sticky;
  top:0;
}
.main-page{
  padding: 1vw;
  width : 80%;
}
.page-header{
  padding: 0vw 3vw;
  display: flex;
  gap : 10vw;
}

.heading h1{
  padding: 1vw 3vw;
  font-weight: 900;
  font-size: 3vw;
}

